.bio {
    width: 100%;
}

.bio-btn {
    background-color: yellowgreen;
    border: yellowgreen;
}


/* Resonsive */
@media only screen and (max-width: 767px) {
    .bio-details {
        margin-bottom: 20px;
    }
}